/* Presets */

:root {
    --color-white: #FFFFFF;
    --color-grey: #848884;
    --color-black: #000000;
    --color-purple: #590168;
    --color-gold: #D4AF37;
}

a:link {
    color: var(--color-gold);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: var(--color-grey);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--color-gold);
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: var(--color-purple);
    background-color: transparent;
    text-decoration: underline;
}